.TopHundredButton {
  background-color: white;
  color: #172B4D;
  border: 1px solid white;
  border-radius: 16px;
  padding: 12px;
  margin: 8px auto;
  cursor: pointer;
}

.TopHundredSection {
  display: grid;
  grid-row-gap: 1em;
}